<div class="col-md-12">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Browse By Resources</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" type="button">
                    <i class="fa fa-minus"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="remove" type="button">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <ul class="products-list product-list-in-box">
                <li class="item">
                    <div class="product-img">
                        <img alt="Product Image" src="/content/template/dist/img/default-50x50.gif">
                    </div>
                    <div class="product-info">
                        <a class="product-title" href="javascript:void(0)">Datasets
                                                <span class="label label-warning pull-right">10</span>
                        </a>
                        <span class="product-description">Get the information about datasets </span>
                    </div>
                </li>
                <li class="item">
                    <div class="product-img">
                        <img alt="Product Image" src="/content/template/dist/img/default-50x50.gif">
                    </div>
                    <div class="product-info">
                        <a class="product-title" href="javascript:void(0)">Services
                                                <span class="label label-warning pull-right">50</span>
                        </a>
                        <span class="product-description">geo spatial services </span>
                    </div>
                </li>
                <li class="item">
                    <div class="product-img">
                        <img alt="Product Image" src="/content/template/dist/img/default-50x50.gif">
                    </div>
                    <div class="product-info">
                        <a class="product-title" href="javascript:void(0)">Sessions
                                                <span class="label label-warning pull-right">10</span>
                        </a>
                        <span class="product-description">Session Information</span>
                    </div>
                </li>
                <li class="item">
                    <div class="product-img">
                        <img alt="Product Image" src="/content/template/dist/img/default-50x50.gif">
                    </div>
                    <div class="product-info">
                        <a class="product-title" href="javascript:void(0)">Maps &amp; Graphics
                                                <span class="label label-warning pull-right">10</span>
                        </a>
                        <span class="product-description">Maps &amp; Graphics</span>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
        </div>
    </div>
</div>
<!-- /.col -->
