@if (Session["user_name"] != null)
{
    if (Session["user_name"].ToString() != "")
    { 
    <li><a href="#" onclick="DoLogout()"><i class="ion ion-log-off"></i>&nbsp;Logout</a></li>
    }
    else
    {
    <li><a href="~/account/login"><i class="ion ion-log-in"></i>&nbsp;Login</a></li>
    <li><a href="~/account/Register"><i class="fa fa-user-plus"></i>&nbsp;Register</a></li>
    }
}
else
{
    <li><a href="~/account/login"><i class="ion ion-log-in"></i>&nbsp;Login</a></li>
    <li><a href="~/account/Register"><i class="fa fa-user-plus"></i>&nbsp;Register</a></li>
}

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">English <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">English</a></li>
        <li><a href="#">हिंदी</a></li>
        <li><a href="#">ગુજરાતી</a></li>
        <li><a href="#">मराठी</a></li>
    </ul>
</li>
<script>
    function DoLogout() {
        $.ajax({
            url: "/Account/DoLogout", data: {}, success: function (data) {
                alert(data);
                if (data != "true") {
                    alert("Unable to logout");
                }
                else {
                    $(location).attr('href', '/Home/Index');
                }
            }
        });
    }
</script>
