<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">English <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">English</a></li>
        <li><a href="#">हिंदी</a></li>
        <li><a href="#">ગુજરાતી</a></li>
        <li><a href="#">मराठी</a></li>
    </ul>
</li>