<div class="content-wrapper" style="min-height: 600px;">
    <section class="content-header">
        <h1>User Management</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">User List</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <!-- Resources box -->
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">User Groups</h3>
                        <div class="box-tools">
                            <button class="btn btn-box-tool" data-widget="collapse" type="button">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body" style="display: block;">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Administrators
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Contributors
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Guests
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- EOF Resources box -->

                <!-- Topics box -->
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">User Status</h3>
                        <div class="box-tools">
                            <button class="btn btn-box-tool" data-widget="collapse" type="button">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body" style="display: block;">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Enabled
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Suspended
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- EOF Topics box -->
            </div>

            <div class="col-md-9">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Manage Users</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>User Login Name</th>
                                    <th>User Group</th>
                                    <th>Enabled</th>
                                    <th>Last Login</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <button class="btn btn-box-tool" data-toggle="tooltip" type="button" data-original-title="Edit">
                                            <i class="ion ion-edit"></i>
                                        </button>
                                        &nbsp;
                                        user1@domain.com</td>
                                    <td>Administrator</td>
                                    <td>Enabled</td>
                                    <td>01 September 2016 12:30</td>
                                    <td>
                                        <button class="btn btn-box-tool" data-toggle="tooltip" type="button" data-original-title="Delete">
                                            <i class="ion ion-ios-close-outline"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-box-tool" data-toggle="tooltip" type="button" data-original-title="Edit">
                                            <i class="ion ion-edit"></i>
                                        </button>
                                        &nbsp;
                                        user2@domain.com</td>
                                    <td>Administrator</td>
                                    <td>Enabled</td>
                                    <td>10 September 2016 18:01</td>
                                    <td>
                                        <button class="btn btn-box-tool" data-toggle="tooltip" type="button" data-original-title="Delete">
                                            <i class="ion ion-ios-close-outline"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-box-tool" data-toggle="tooltip" type="button" data-original-title="Edit">
                                            <i class="ion ion-edit"></i>
                                        </button>
                                        &nbsp;
                                        user3@domain.com</td>
                                    <td>Contributor</td>
                                    <td>Enabled</td>
                                    <td>15 September 2016 13:21</td>
                                    <td>

                                        <button class="btn btn-box-tool" data-toggle="tooltip" type="button" data-original-title="Delete">
                                            <i class="ion ion-ios-close-outline"></i>
                                        </button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-box-tool" data-toggle="tooltip" type="button" data-original-title="Edit">
                                            <i class="ion ion-edit"></i>
                                        </button>
                                        &nbsp;
                                        user4@domain.com</td>
                                    <td>Contributor</td>
                                    <td>Enabled</td>
                                    <td>29 August 2016 10:30</td>
                                    <td>

                                        <button class="btn btn-box-tool" data-toggle="tooltip" type="button" data-original-title="Delete">
                                            <i class="ion ion-ios-close-outline"></i>
                                        </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-box-tool" data-toggle="tooltip" type="button" data-original-title="Edit">
                                            <i class="ion ion-edit"></i>
                                        </button>
                                        &nbsp;
                                        user5@domain.com</td>
                                    <td>Guest</td>
                                    <td>Enabled</td>
                                    <td>01st September 2016 12:15</td>
                                    <td>

                                        <button class="btn btn-box-tool" data-toggle="tooltip" type="button" data-original-title="Delete">
                                            <i class="ion ion-ios-close-outline"></i>
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                            @*<tfoot>
                                <tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                </tr>
                            </tfoot>*@
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
</div>
<script>
    //Initialize Select2 Elements


    //$('#reservation').daterangepicker();
    //$('#daterange-btn').daterangepicker(
    //{
    //    ranges: {
    //        'Today': [moment(), moment()],
    //        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
    //        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
    //        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
    //        'This Month': [moment().startOf('month'), moment().endOf('month')],
    //        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    //    },
    //    startDate: moment().subtract(29, 'days'),
    //    endDate: moment()
    //},
    //function (start, end) {
    //    $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    //}
    //);
</script>
