<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <title>SOLID - Bootstrap 3 Theme</title>
    <!-- Bootstrap core CSS -->
    <link href="/content/themes/theme_solid/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/content/themes/theme_solid/assets/css/style.css" rel="stylesheet">
    <link href="/content/themes/theme_solid/assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/content/themes/theme_solid/assets/js/html5.js"></script>
      <script src="/content/themes/theme_solid/assets/js/respond.min.js"></script>
    <![endif]-->
    <script src="/content/themes/theme_solid/assets/js/modernizr.js"></script>
</head>
<body class="hold-transition login-page">
    <div class="wrapper">
        @Html.Partial("Public/_PubHeaderPartial")
        @RenderBody()
    </div>
    	 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
    <script src="/Content/template/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/content/themes/theme_solid/assets/js/bootstrap.min.js"></script>
	<script src="/content/themes/theme_solid/assets/js/retina-1.1.0.js"></script>
	<script src="/content/themes/theme_solid/assets/js/jquery.hoverdir.js"></script>
	<script src="/content/themes/theme_solid/assets/js/jquery.hoverex.min.js"></script>
	<script src="/content/themes/theme_solid/assets/js/jquery.prettyPhoto.js"></script>
  	<script src="/content/themes/theme_solid/assets/js/jquery.isotope.min.js"></script>
  	<script src="/content/themes/theme_solid/assets/js/custom.js"></script>
    <script>
        // Portfolio
        (function ($) {
            "use strict";
            var $container = $('.portfolio'),
                $items = $container.find('.portfolio-item'),
                portfolioLayout = 'fitRows';

            if ($container.hasClass('portfolio-centered')) {
                portfolioLayout = 'masonry';
            }

            $container.isotope({
                filter: '*',
                animationEngine: 'best-available',
                layoutMode: portfolioLayout,
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                },
                masonry: {
                }
            }, refreshWaypoints());

            function refreshWaypoints() {
                setTimeout(function () {
                }, 1000);
            }

            $('nav.portfolio-filter ul a').on('click', function () {
                var selector = $(this).attr('data-filter');
                $container.isotope({ filter: selector }, refreshWaypoints());
                $('nav.portfolio-filter ul a').removeClass('active');
                $(this).addClass('active');
                return false;
            });

            function getColumnNumber() {
                var winWidth = $(window).width(),
                columnNumber = 1;

                if (winWidth > 1200) {
                    columnNumber = 5;
                } else if (winWidth > 950) {
                    columnNumber = 4;
                } else if (winWidth > 600) {
                    columnNumber = 3;
                } else if (winWidth > 400) {
                    columnNumber = 2;
                } else if (winWidth > 250) {
                    columnNumber = 1;
                }
                return columnNumber;
            }

            function setColumns() {
                var winWidth = $(window).width(),
				columnNumber = getColumnNumber(),
				itemWidth = Math.floor(winWidth / columnNumber);

                $container.find('.portfolio-item').each(function () {
                    $(this).css({
                        width: itemWidth + 'px'
                    });
                });
            }

            function setPortfolio() {
                setColumns();
                $container.isotope('reLayout');
            }

            $container.imagesLoaded(function () {
                setPortfolio();
            });

            $(window).on('resize', function () {
                setPortfolio();
            });
        })(jQuery);
</script>

</body>
</html>
